@model SecurityTests.Controllers.DataProtectionModel

<h1>Data Protection API</h1>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Index">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Data" class="control-label"></label>
				<input asp-for="Data" class="form-control" />
				<span asp-validation-for="Data" class="text-danger"></span>
			</div>

			<div class="form-group mt-3">
				<input type="submit" value="Encrypt" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>